<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile name="RollingFile">
            <FileName>/var/log/myapp/application.log</FileName>
            <FilePattern>/var/log/myapp/application-%d{MM-dd-yyyy}-%i.log</FilePattern>
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%X{requestId}] - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>