<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Development Profile -->
    <springProfile name="dev">
        <property name="LOG_PATH" value="./logs"/>
    </springProfile>

    <!-- Production Profile -->
    <springProfile name="prod">
        <property name="LOG_PATH" value="/var/log/FLTSpring"/>
    </springProfile>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%X{requestId}] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.giffing.bucket4j" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="Console" />
    </root>
</configuration>